parameters:
    level: 8
    paths:
        - config/
        - src/
        - tests/
    ignoreErrors:
        -
          message: '#Class Symfony\\Component\\Serializer\\SerializerInterface not found.#'
          path: src/Response/Responder/JsonResponder.php
        -
          message: '#Class Symfony\\Bridge\\Twig\\Attribute\\Template not found.#'
          path: src/Response/Responder/TemplatingResponder.php
        -
          message: '#[\d\t]*unknown class Symfony\\Bridge\\Twig\\Attribute\\Template.#'
          path: src/Response/Responder/TemplatingResponder.php
